<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>adminLoginA</servlet-name>
        <servlet-class>com.cn.action.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLoginA</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminMemu</servlet-name>
        <servlet-class>com.cn.action.AdminMenu</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminMemu</servlet-name>
        <url-pattern>/Navigation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>propertyA</servlet-name>
        <servlet-class>com.cn.action.Property</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>propertyA</servlet-name>
        <url-pattern>/property</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>psUpdateA</servlet-name>
        <servlet-class>com.cn.action.UpdateAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>psUpdateA</servlet-name>
        <url-pattern>/psUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminListA</servlet-name>
        <servlet-class>com.cn.action.AdminList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminListA</servlet-name>
        <url-pattern>/adminList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminDeleteA</servlet-name>
        <servlet-class>com.cn.action.AdminDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminDeleteA</servlet-name>
        <url-pattern>/adminDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addAdminA</servlet-name>
        <servlet-class>com.cn.action.AdminAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addAdminA</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userListA</servlet-name>
        <servlet-class>com.cn.action.UserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userListA</servlet-name>
        <url-pattern>/userList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userDeleteA</servlet-name>
        <servlet-class>com.cn.action.UserDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userDeleteA</servlet-name>
        <url-pattern>/userDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>goodsCatelogA</servlet-name>
        <servlet-class>com.cn.action.GoodsCatelog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goodsCatelogA</servlet-name>
        <url-pattern>/goodsCatelog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteGoodA</servlet-name>
        <servlet-class>com.cn.action.GoodsDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteGoodA</servlet-name>
        <url-pattern>/deleteGood</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>uploadA</servlet-name>
        <servlet-class>com.cn.action.MyServlet_6</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>uploadA</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addGoodsA</servlet-name>
        <servlet-class>com.cn.action.GoodsAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addGoodsA</servlet-name>
        <url-pattern>/addGoods</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>goodListA</servlet-name>
        <servlet-class>com.cn.action.CatelogList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goodListA</servlet-name>
        <url-pattern>/goodList</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <!--<welcome-file>jsp/adminMaintain.jsp</welcome-file>-->
        <welcome-file>jsp/adminLogin.jsp</welcome-file>
        <welcome-file>jsp/property.jsp</welcome-file>
        <welcome-file>jsp/adminManager.jsp</welcome-file>
        <welcome-file>jsp/test.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>com.cn.util.ContextFinalizer</listener-class>
    </listener>
</web-app>
